*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
logs/
target/
target/*
*.log
dependency-reduced-pom.xml
/bin
*/bin
*.lnk
/src/main/resources/rebel.xml
/src/main/resources/prod/*
src/main/resources/rebel.xml
src/main/resources/.DS_Store
src/main/webapp/.DS_Store
.DS_Store
/src/main/resources/rebel.xml
