<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>
      <li class="active">修改密码</li>
    </ul><!-- .breadcrumb -->

  </div>
  <div class="page-content">

    <div class="page-header">
      <h1>密码修改成功，请保管好自己的新密码。</h1>
    </div>

  </div>
</div>



