<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>

      <li class="active">设备管理</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
      ##         <span class="input-icon">
##							<input type="text" placeholder="Search ..." class="nav-search-input"  id="nav-search-input" autocomplete="off"/>
##							<i class="icon-search nav-search-icon"></i>
##						</span>
      </form>
    </div><!-- #nav-search -->
  </div>
  <div class="page-content">
    <div class="page-header">
      <h1>设备管理</h1>
    </div>
    <div class="container-fluid">

      #if(${msg})
        <div>
          #if(${success})
            <li class="text-success">$!{msg}</li>
          #else
            <li class="text-danger">$!{msg}</li>
          #end
        </div>
      #end

      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-11">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label>区域：</label>
                <select name="areaId" id="areaId">
                  <option value="">全部</option>
                  #foreach($tmpArea in $areaList)
                    <option #if("$tmpArea.id" == "$!areaId") selected #end value="$tmpArea.id">$!tmpArea.name</option>
                  #end
                </select>
                <label>名称：</label>
                <input type="text" name="name" value="$!{name}">
              </div>
              <div class="form-group">
                <button class="btn btn-xs btn-primary" type="submit">查询</button>
              </div>
            </form>
          </div>
          <div class="col-sm-1 text-right">
            <a href="${www}/device/deviceAdd" class="btn btn-success btn-xs">添加</a>
          </div>
        </div>
        <table id="dataTableResizeCol" class="table table-striped table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th>sn号</th>
            <th>名称(区域)-标签</th>
            <th>设备地址</th>
            <th>类型值(校正值)</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
            #foreach($row in $result.rows)
            <tr>
              <td>$!{row.sn}</td>
              <td> $!{row.name}($!{row.area.name})-$!{row.tag}</td>
              <td>$!{row.address}</td>
              <td>
                  #if($!{row.hasTemp()}) 温度: $!unitUtil.changeTemp($!{row.tempDown})℃ ~ $!unitUtil.changeTemp($!{row.tempUp}) ℃ ($!unitUtil.changeTemp($!{row.tempDev})℃)<br/> #end
                  #if($!{row.hasHumi()}) 湿度: $!unitUtil.changeHumi($!{row.humiDown})%RH ~ $!unitUtil.changeHumi($!{row.humiUp})%RH ($!unitUtil.changeHumi($!{row.humiDev})%RH)<br/> #end
##                  #if($!{row.hasPower()}) 电量 <br/> #end
                  #if($!{row.hasShine()}) 光照: $!{row.shineDown} Lx ~ $!{row.shineUp}Lx ($!{row.shineDev}Lx)<br/> #end
                  #if($!{row.hasPressure()}) 压力: $!unitUtil.changePressure($!{row.pressureDown})Pa ~ $!unitUtil.changePressure($!{row.pressureUp})Pa ($!unitUtil.changePressure($!{row.pressureDev})Pa)<br/> #end
                  #if($!{row.hasSmoke()}) 烟感: <br/>输入通道: $!{row.inWay}<br/>联动输出通道和地址: $!{row.opencloseWay} ,  $!{row.relationOutId}<br/> #end
                  #if($!{row.hasWater()}) 跑冒滴漏:<br/>输入通道: $!{row.inWay}<br/>联动输出通道和地址: $!{row.opencloseWay} ,  $!{row.relationOutId}<br/> #end
                  #if($!{row.hasElectric()}) 断电来电:<br/>输入通道: $!{row.inWay}<br/>联动输出通道和地址: $!{row.opencloseWay} ,  $!{row.relationOutId}<br/> #end
                  #if($!{row.hasOut()}) 控制通道: $!{row.controlWay}<br/>#end
              </td>
              <td>
                #if($!{row.hasOut()})
                  <a href="${www}/device/outConditionList?id=${row.id}">配置开关条件</a><br/>
                #end
                <a href="${www}/device/deviceUpdate?id=${row.id}">修改</a> ｜
                <a href="${www}/device/deleteDevice?id=${row.id}" onclick="javascript:return confirm('确认要删除 $!{row.name}?');">删除</a>
              </td>
            </tr>
            #end
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <div class="dataTables_paginate paging_bootstrap">
              <ul class="pagination">
                #set($pageRequestURL="${www}/device/deviceList?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                #paginationHelper($result $pageRequestURL)
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->