<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script src="${www}/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
      jQuery(function($) {
        $('.input-mask-date').mask('9999-99-99');
      });
    </script>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/back/main">主页</a>
      </li>
      <li>
        <a href="${www}/device/deviceList">列表</a>
      </li>
      <li class="active">新增设备</li>
    </ul><!-- .breadcrumb -->
  </div>
  <div class="page-content">
    <div class="page-header">
      <h1>新增设备</h1>
    </div>
    #if(${msg})
      <div>
        #if(${success})
          <li class="text-success">$!{msg}</li>
        #else
          <li class="text-danger">$!{msg}</li>
        #end
      </div>
    #end

    <form id="inputForm" action="${www}/device/doDeviceAdd" method="post" class="form-horizontal" onsubmit="javascript:return doSubmitDevice();">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">所属区域：</label>
            <div class="col-md-8 col-sm-8">
              <select name="areaId" id="areaId">
                <option value="0">全部</option>
                #foreach($tmpArea in $areaList)
                  <option #if("$tmpArea.id" == "$!areaId") selected #end value="$tmpArea.id">$!tmpArea.name</option>
                #end
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">sn号：</label>
            <div class="col-md-8 col-sm-8">
              <input type="text" class="col-sm-12" id="sn" name="sn" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">名称：</label>
            <div class="col-md-8 col-sm-8">
              <input type="text" class="col-sm-12" id="name" name="name" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">标签：</label>
            <div class="col-md-8 col-sm-8">
              <input type="text" class="col-sm-12" id="tag" name="tag" value="">
            </div>
          </div>
        </div>
      </div>

##      <div class="row">
##        <div class="col-xs-12 col-md-8">
##          <div class="form-group">
##            <label class="col-md-4 col-sm-2 control-label">设备地址：</label>
##            <div class="col-md-8 col-sm-8">
##              <input type="text" class="col-sm-12" id="address" name="address" value="">
##            </div>
##          </div>
##        </div>
##      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">设备类型：</label>
            #foreach($tmpType in $applicationUtil.getAllDeviceTypes())
              <input type="checkbox" id="deviceType_$tmpType.id" name="deviceTypes" onchange="changeDeviceType(this)" value="$!tmpType.id" /> $!{tmpType.name}&nbsp;
            #end
          </div>
        </div>
      </div>


      <div class="row" id="tempDiv" style="display: none;">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">温度信息：</label>
            温度上限 <input type="text" style="width: 60px;" id="tempUpStr" name="tempUpStr" value="">℃ &nbsp;
            温度下限 <input type="text" style="width: 60px;" id="tempDownStr" name="tempDownStr" value="">℃ &nbsp;
            温度校正值 <input type="text" style="width: 60px;" id="tempDevStr" name="tempDevStr" value="">℃
          </div>
        </div>
      </div>

      <div class="row" id="humiDiv" style="display: none;">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">湿度信息：</label>
            湿度上限 <input type="text" style="width: 60px;" id="humiUpStr" name="humiUpStr" value="">%RH &nbsp;
            湿度下限 <input type="text" style="width: 60px;" id="humiDownStr" name="humiDownStr" value="">%RH &nbsp;
            湿度校正值 <input type="text" style="width: 60px;" id="humiDevStr" name="humiDevStr" value="">%RH
          </div>
        </div>
      </div>


      <div class="row" id="shineDiv" style="display: none;">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">光照信息：</label>
            光照上限 <input type="text" style="width: 60px;" id="shineUpStr" name="shineUpStr" value=""> Lx &nbsp;
            光照下限 <input type="text" style="width: 60px;" id="shineDownStr" name="shineDownStr" value=""> Lx &nbsp;
            光照校正值 <input type="text" style="width: 60px;" id="shineDevStr" name="shineDevStr" value=""> Lx
          </div>
        </div>
      </div>

      <div class="row" id="pressureDiv" style="display: none;">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">压力信息：</label>
            压力上限 <input type="text" style="width: 60px;" id="pressureUpStr" name="pressureUpStr" value=""> Pa &nbsp;
            压力下限 <input type="text" style="width: 60px;" id="pressureDownStr" name="pressureDownStr" value=""> Pa &nbsp;
            压力校正值 <input type="text" style="width: 60px;" id="pressureDevStr" name="pressureDevStr" value=""> Pa
          </div>
        </div>
      </div>

##      <div class="row" id="inDiv" style="display: none;">
##        <div class="col-xs-12 col-md-8">
##          <div class="form-group">
##            <label class="col-md-4 col-sm-2 control-label">开关量输入：</label>
##            联动地址 <input type="text" style="width: 60px;" id="relationOutId" name="relationOutId" value=""> &nbsp;
##            联动通道 <select id="opencloseWay" name="opencloseWay">
##                      <option value="1">1</option>
##                      <option value="2">2</option>
##                      <option value="3">3</option>
##                      <option value="4">4</option>
##                    </select>  &nbsp;
##            输入通道  <select id="inWay" name="inWay">
##                      <option value="1">1</option>
##                      <option value="2">2</option>
##                      <option value="3">3</option>
##                      <option value="4">4</option>
##                    </select>
##          </div>
##        </div>
##      </div>

      <div class="row" id="outDiv" style="display: none;">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">开关量输出：</label>
            控制通道 <select id="controlWay" name="controlWay">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>  &nbsp;
          </div>
        </div>
      </div>



      <div class="clearfix form-actions">
        <div class="row">
          <div class="col-md-8">
            <div class="col-sm-offset-4 col-md-9">
              <button id="sbt" class="btn btn-info" type="submit">
                <i id="iok" class="icon-ok bigger-110">提交</i>
              </button>
              <button class="btn" type="button" style="margin-left: 100px;" onclick="javascript:history.go(-1);">
                <i class="icon-arrow-left bigger-110"></i>返回
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div><!-- /.main-content -->
  <script src="${www}/js/youcaicommon.js?ts=20180416"></script>
  <script src="${www}/js/xue.js?ts=20180416"></script>