
<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script src="${www}/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

      jQuery(function($) {
        $('.input-mask-date').mask('9999-99-99');
      });

    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>

      <li>
      <li class=""><a href="${www}/device/deviceList">设备管理</a></li>
      <li class=""><a href="${www}/device/outConditionList?id=$!{deviceInfo.id}">$!{deviceInfo.name}($!{deviceInfo.tag})</a></li>
      </li>
      <li class="active">修改条件</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
    ##      <form class="form-search">
##						<span class="input-icon">
##							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
##							<i class="icon-search nav-search-icon"></i>
##						</span>
##      </form>
    </div><!-- #nav-search -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>修改条件</h1>
    </div>

    #if(${msg})
      <div>
        #if(${success})
          <li class="text-success">$!{msg}</li>
        #else
          <li class="text-danger">$!{msg}</li>
        #end
      </div>
    #end

    <form id="inputForm" action="${www}/device/doOutConditionUpdate" method="post" class="form-horizontal" enctype="multipart/form-data">

      <input type="hidden" name="deviceInfoId" value="$!deviceInfo.id" />
      <input type="hidden" name="id" value="$!outCondition.id" />

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">条件设备sn号：</label>
            <div class="col-md-8 col-sm-8">
              <input type="text" class="col-sm-12" id="deviceSn" name="deviceSn" value="$!outCondition.deviceSn">
            </div>
          </div>
        </div
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">条件设备类型：</label>
            <div class="col-md-8 col-sm-8">
              <select name="deviceType" id="deviceType" onchange="changeConditionDeviceType(this.value);">
                #foreach($tmpDevice in $applicationUtil.getAllDataDeviceTypes())
                  <option value="$tmpDevice.id" #if($tmpDevice.id == $!outCondition.deviceType) selected #end>$!tmpDevice.name</option>
                #end
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">开关类型：</label>
            <div class="col-md-8 col-sm-8">
              打开&nbsp;<input type="radio" name="openClosed" value="1" #if(1 == $!outCondition.openClosed) checked #end> &nbsp;&nbsp;
              关闭&nbsp;<input type="radio" name="openClosed" value="2" #if(2 == $!outCondition.openClosed) checked #end>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="minMaxDiv">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">大小类型：</label>
            <div class="col-md-8 col-sm-8">
              小于&nbsp;<input type="radio" name="minMax" value="1" #if(1 == $!outCondition.minMax) checked #end> &nbsp;&nbsp;
              大于&nbsp;<input type="radio" name="minMax" value="2"  #if(2 == $!outCondition.minMax) checked #end>
            </div>
          </div>
        </div>
      </div>



      <div class="row" id="dataValueDiv">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">条件值：</label>
            <div class="col-md-8 col-sm-8">

              #set($tmpDataValue = $!{outCondition.dataValue})
              #if($!{outCondition.tmpDeviceInfo.hasTemp()})
                #set($tmpDataValue = $!unitUtil.changeTemp($!{outCondition.dataValue}))

              #elseif($!{outCondition.tmpDeviceInfo.hasHumi()})
                #set($tmpDataValue = $!unitUtil.changeHumi($!{outCondition.dataValue}))

              #elseif($!{outCondition.tmpDeviceInfo.hasPower()})
                #set($tmpDataValue = $!unitUtil.changePower($!{outCondition.dataValue}))

              #elseif($!{outCondition.tmpDeviceInfo.hasShine()})
                #set($tmpDataValue = $!{outCondition.dataValue})

              #elseif($!{outCondition.tmpDeviceInfo.hasPressure()})
                #set($tmpDataValue = $!unitUtil.changePressure($!{outCondition.dataValue}))
              #end


              <input type="text" class="col-sm-12" id="dataValueStr" name="dataValueStr" value="$!tmpDataValue">(单位: ℃ 或 %RH 或Lx 或Pa )
            </div>
          </div>
        </div>
      </div>



      <div class="clearfix form-actions">
        <div class="row">
          <div class="col-md-8">
            <div class="col-sm-offset-4 col-md-9">
              <button id="sbt" class="btn btn-info" type="submit">
                <i id="iok" class="icon-ok bigger-110">提交</i>
              </button>
              <button class="btn" type="button" style="margin-left: 100px;" onclick="javascript:history.go(-1);">
                <i class="icon-arrow-left bigger-110"></i>返回
              </button>
            </div>

          </div>
        </div>
      </div>

    </form>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->

<script src="${www}/js/youcaicommon.js"></script>
<script src="${www}/js/xue.js?ts=201812182"></script>
<script type="text/javascript">

  $("#sbt").click(function(e){
    $("#iok").text("处理中");
    $("#sbt").attr("disabled", true);
    $("#inputForm").submit();

  });

  var obj = $("#deviceType option:selected").val();
  changeConditionDeviceType(obj);

</script>

