<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>


<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>

      <li class="active">通讯列表</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
      ##         <span class="input-icon">
##							<input type="text" placeholder="Search ..." class="nav-search-input"  id="nav-search-input" autocomplete="off"/>
##							<i class="icon-search nav-search-icon"></i>
##						</span>
      </form>
    </div><!-- #nav-search -->
  </div>
  <div class="page-content">
    <div class="page-header">
      <h1>通讯历史</h1>
    </div>
    <div class="container-fluid">

      #if(${msg})
        <div>
          #if(${success})
            <li class="text-success">$!{msg}</li>
          #else
            <li class="text-danger">$!{msg}</li>
          #end
        </div>
      #end

      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-11">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label>类型：</label>
                <select name="type">
                    <option value="">全部</option>
                    <option value="phone" #if("$!type" == "phone") selected #end>电话</option>
                    <option value="sms" #if("$!type" == "sms") selected #end>短信</option>
                </select>

                <label>开始时间：</label>
                <input type="text" class="input-date" name="startTime" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm'})" value="$!{startTime}">
                <label>结束时间：</label>
                <input type="text" class="input-date" name="endTime" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm'})" value="$!{endTime}">


              </div>
              <div class="form-group">
                <button class="btn btn-xs btn-primary" type="submit">查询</button>
              </div>
            </form>
          </div>
          <div class="col-sm-1 text-right">
            <a href="${www}/wirelessSetting/contactsAdd" class="btn btn-success btn-xs">添加</a>
          </div>
        </div>
        <table id="dataTableResizeCol" class="table table-striped table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th>类型</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>短信内容</th>
            <th>时间</th>
          </tr>
          </thead>
          <tbody>

            #if(!$result.rows)
            <tr>
              <td colspan="4" align="center">
                暂无数据
              </td>
            </tr>
            #end

            #foreach($row in $result.rows)
            <tr>
              <td>#if("$!{row.type}" == "sms") 短信 #elseif("$!{row.type}" == "phone") 电话 #end</td>
              <td>$!{row.name}</td>
              <td>$!{row.phone}</td>
              <td>#if("$!{row.type}" == "sms") $!{row.smsContent} #else —— #end</td>
              <td>$dateUtil.getDate($!{row.createdAt}, 'yyyy-MM-dd HH:mm:ss')</td>
            </tr>
            #end
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <div class="dataTables_paginate paging_bootstrap">
              <ul class="pagination">
                #set($pageRequestURL="${www}/wirelessSetting/history?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                #paginationHelper($result $pageRequestURL)
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->

