<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>


<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>

      <li class="active">报警记录</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
      ##         <span class="input-icon">
##							<input type="text" placeholder="Search ..." class="nav-search-input"  id="nav-search-input" autocomplete="off"/>
##							<i class="icon-search nav-search-icon"></i>
##						</span>
      </form>
    </div><!-- #nav-search -->
  </div>
  <div class="page-content">
    <div class="page-header">
      <h1>报警记录</h1>
    </div>
    <div class="container-fluid">

      #if(${msg})
        <div>
          #if(${success})
            <li class="text-success">$!{msg}</li>
          #else
            <li class="text-danger">$!{msg}</li>
          #end
        </div>
      #end

      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-11">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label>名称：</label>
                <input type="text" name="deviceName" value="$!{deviceName}">
                <label>报警类型：</label>
                <select name="alarmType" id="alarmType">
                  <option value="">全部</option>
                  #foreach($tmpAlarmType in $applicationUtil.getAllAlarmTypes())
                    <option #if("$tmpAlarmType.id" == "$!alarmType") selected #end value="$tmpAlarmType.id">$!tmpAlarmType.meaning</option>
                  #end
                </select>
                <label>报警确认：</label>
                <select name="alarmConfirm" id="alarmConfirm">
                  <option value="">全部</option>
                  #foreach($tmpAlarmConfirm in $applicationUtil.getAllConfirms())
                    <option #if("$tmpAlarmConfirm.id" == "$!alarmConfirm") selected #end value="$tmpAlarmConfirm.id">$!tmpAlarmConfirm.meaning</option>
                  #end
                </select>
                <label>报警时间：</label>
                <input type="text" class="input-date" id="startTime" name="startTime" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{startTime}"> ~
                <input type="text" class="input-date" id="endTime" name="endTime" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{endTime}">
              </div>
              <div class="form-group">
                <button class="btn btn-xs btn-primary" type="submit">查询</button>
              </div>
            </form>
          </div>
##          <div class="col-sm-1 text-right">
##            <a href="${www}/device/deviceAdd" class="btn btn-success btn-xs">添加</a>
##          </div>
        </div>
        <table id="dataTableResizeCol" class="table table-striped table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th>名称</th>
            <th>报警信息</th>
            <th>报警</th>
            <th>结束报警</th>
            <th>备注信息</th>
##            <th>已读</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>

          #if(!$result.rows)
          <tr>
            <td colspan="7" align="center">
              暂无报警数据
            </td>
          </tr>
          #end

            #foreach($row in $result.rows)
            <tr>
              <td>$!{row.deviceInfo.name}</td>
              <td>
                $!{row.showAlarmMsg()}
              </td>
              <td>
                  首次:$!dateUtil.getDate($!{row.createdAt}, 'yyyy-MM-dd HH:mm:ss') <br/>
                  最近:$!dateUtil.getDate($!{row.recentlyAlarmTime}, 'yyyy-MM-dd HH:mm:ss') <br/>
              </td>
              <td>


                #if("$!{row.alarmEndTime}" == "")
                    未结束
                  #else
                    $!dateUtil.getDate($!{row.alarmEndTime}, 'yyyy-MM-dd HH:mm:ss')
                  #end
                #if($!{row.confirm} == 1)
##                  <br/>已确认
                #end
              </td>
              <td>$!{row.note}</td>

              #set($showButton = $!{row.confirm} == 0 && "$!{row.alarmEndTime}" != "")
##              <td>
##                #if($showButton)
##                  <button class="btn btn-xs btn-primary" type="button" style="background-color:white !important;color:rgb(148,145,142) !important;border-color:rgb(148,145,142);border-width: 1px; " onclick="markRead($!{row.id});">设为已读</button>
##                #end
##              </td>

              <td>
                #if($showButton || $!{row.confirm} == 1)
                  #if($!{row.confirm} == 0 || "$!{row.note}" == "")
                    <button class="btn btn-xs btn-primary" type="button" onclick="writeNote($row.id)">编写备注</button>
                  #else
                    <button class="btn btn-xs btn-primary" type="button" onclick="editNote($row.id, '$!{row.note}')">修改备注</button>
                  #end
                #end
              </td>

            </tr>
            #end
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <div class="dataTables_paginate paging_bootstrap">
              <ul class="pagination">
                #set($pageRequestURL="${www}/alarm/alarmList?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                #paginationHelper($result $pageRequestURL)
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->


<div id="noteDiv" class="page-content" style="width:700px;background: rgba(f,f,f,1);position: absolute;top: 100px; z-index:999;border: 2px #ccc solid;left: 50%;transform: translate(-50%);display: none;">
  <div class="page-header">
    <h1>编写备注</h1>
  </div>
  <div style="position: absolute; right:20px; top:20px; witdh:20px; height:20px;line-height: 20px;text-align: center;cursor:pointer;" onclick="hiddenShowDiv()">X</div>
  <form id="inputForm" action="${www}/alarm/writeNote" method="post" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" name="alarmId" id="alarmId" value=""/>


    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="form-group">
          <label class="col-md-4 col-sm-2 control-label">备注：</label>
          <div class="col-md-8 col-sm-8">
            <textarea name="userNote" id="userNote" rows="5" cols="40"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix form-actions">
      <div class="row">
        <div class="col-md-8">
          <div class="col-sm-offset-4 col-md-9">
            <button id="sbt" class="btn btn-info" type="button">
              <i id="iok" class="icon-ok bigger-110">保存</i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn" type="button" onclick="javascript:hiddenShowDiv();">
              <i class="icon-arrow-left bigger-110"></i>返回
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>




#set($pageRequestURL="${www}/alarm/alarmList?pageIndex=$result.curPageNum#if($!{result.queryParameters})&$!{result.queryParameters}#end")


<script>

  function markRead(id) {
    if(confirm('确定标记已读?')) {
       var startTime = document.getElementById("startTime").value;
       var endTime = document.getElementById("endTime").value;
      window.location.href = "${www}/alarm/markRead?id=" + id + "&startTime=" + startTime + "&endTime=" + endTime;
    }
  }

  function writeNote(id) {
    var obj = document.getElementById("noteDiv");
    obj.style.display = "block";
    document.getElementById("alarmId").value = id;
  }

  function editNote(id, oldNote) {
    var obj = document.getElementById("noteDiv");
    obj.style.display = "block";
    document.getElementById("userNote").value = oldNote;
    document.getElementById("alarmId").value = id;
  }

  function hiddenShowDiv() {
    var obj = document.getElementById("noteDiv");
    obj.style.display = "none";
  }


  $("#sbt").click(function(e){
    $("#iok").text("处理中");
    $("#sbt").attr("disabled", true);
//    $("#inputForm").submit();
    var form = new FormData(document.getElementById("inputForm"));

    $.ajax({
      url:"${www}/alarm/writeNote",
      type:"post",
      data:form,
      processData:false,
      contentType:false,
      success:function(data){
        window.location.href = '$pageRequestURL';
      },
      error:function(e){
        window.location.href = '$pageRequestURL';
      }
    });
  });

</script>