
<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script src="${www}/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

      jQuery(function($) {
        $('.input-mask-date').mask('9999-99-99');
      });

    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>

      <li>
        <a href="${www}/setting/alarm">基本设置</a>
      </li>
      <li class="active">设置</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
    ##      <form class="form-search">
##						<span class="input-icon">
##							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
##							<i class="icon-search nav-search-icon"></i>
##						</span>
##      </form>
    </div><!-- #nav-search -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>设置</h1>
    </div>

    #if(${msg})
      <div>
        #if(${success})
          <li class="text-success">$!{msg}</li>
        #else
          <li class="text-danger">$!{msg}</li>
        #end
      </div>
    #end

    <form id="inputForm" action="${www}/setting/doNormal" method="post" class="form-horizontal" enctype="multipart/form-data">

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">平台名称:</label>
            <div class="col-md-8 col-sm-8">
              <input type="text"  name="platform_name" style="width: 300px;" value="$!settingNormalBean.platform_name"> &nbsp;
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">数据更新周期</label>
            <div class="col-md-8 col-sm-8">
              <select  name="data_cycle_time">
                <option value="10" #if("$!settingNormalBean.data_cycle_time" == "10") selected #end>10秒</option>
                <option value="20" #if("$!settingNormalBean.data_cycle_time" == "20") selected #end>20秒</option>
                <option value="30" #if("$!settingNormalBean.data_cycle_time" == "30") selected #end>30秒</option>
                <option value="40" #if("$!settingNormalBean.data_cycle_time" == "40") selected #end>40秒</option>
                <option value="60" #if("$!settingNormalBean.data_cycle_time" == "60") selected #end>1分钟</option>
                <option value="120" #if("$!settingNormalBean.data_cycle_time" == "120") selected #end>2分钟</option>
                <option value="180" #if("$!settingNormalBean.data_cycle_time" == "180") selected #end>3分钟</option>
                <option value="300" #if("$!settingNormalBean.data_cycle_time" == "300") selected #end>5分钟</option>
                <option value="480" #if("$!settingNormalBean.data_cycle_time" == "480") selected #end>8分钟</option>
                <option value="600" #if("$!settingNormalBean.data_cycle_time" == "600") selected #end>10分钟</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group">
            <label class="col-md-4 col-sm-2 control-label">历史数据备份路径:</label>
            <div class="col-md-8 col-sm-8">
              <input type="text"  name="history_data_backup_path" style="width: 300px;" value="$!settingNormalBean.history_data_backup_path"> &nbsp;
            </div>
          </div>
        </div>
      </div>



##      <div class="row">
##        <div class="col-xs-12 col-md-8">
##          <div class="form-group">
##            <label class="col-md-4 col-sm-2 control-label">关联短信手机号：</label>
##            <div class="col-md-8 col-sm-8">
##              <input type="text" class="col-sm-12" id="smsPhones" name="smsPhones"
##                     value="$!{area.smsPhones}">如果有多个手机号用逗号分隔填写如: 13012345678,13198765432
##            </div>
##          </div>
##        </div>
##      </div>
##
##
##      <div class="row">
##        <div class="col-xs-12 col-md-8">
##          <div class="form-group">
##            <label class="col-md-4 col-sm-2 control-label">备注：</label>
##            <div class="col-md-8 col-sm-8">
##              <input type="text" class="col-sm-12" id="note" name="note"
##                     value="$!{area.note}">
##            </div>
##          </div>
##        </div>
##      </div>



      <div class="clearfix form-actions">
        <div class="row">
          <div class="col-md-8">
            <div class="col-sm-offset-4 col-md-9">
              <button id="sbt" class="btn btn-info" type="submit">
                <i id="iok" class="icon-ok bigger-110">保存</i>
              </button>
              <button class="btn" type="button" style="margin-left: 100px;" onclick="javascript:history.go(-1);">
                <i class="icon-arrow-left bigger-110"></i>返回
              </button>
            </div>

          </div>
        </div>
      </div>

    </form>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->

<script src="${www}/js/youcaicommon.js"></script>
<script type="text/javascript">

  $("#sbt").click(function(e){
    $("#iok").text("处理中");
    $("#sbt").attr("disabled", true);
    $("#inputForm").submit();

  });

  function changeSelect(obj) {
    var prefix = "${www}/music/";
    var srcValue = prefix + obj.value;
    document.getElementById("sourceSong").src = srcValue;
    document.getElementById("sourceSongAuto").load();
  }

</script>

