<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>金钱桔后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="${www}/avatars/fav_new1.png" type="image/x-icon"/>
<link rel="shortcut icon" href="${www}/avatars/fav_new1.png" type="image/x-icon"/>
<link rel="stylesheet" href="${www}/css/bootstrap.min.css">
<link rel="stylesheet" href="${www}/css/font-awesome.min.css">
<link rel="stylesheet" href="${www}/css/ace.css">
<link rel="stylesheet" href="${www}/css/ace-rtl.min.css">
<link rel="stylesheet" href="${www}/css/ace-skins.min.css">
<script src="${www}/js/jquery-2.0.3.min.js"></script>
<script src="${www}/js/ace-extra.min.js"></script>
<script src="${www}/js/bootstrap.min.js"></script>
<script src="${www}/js/ace.min.js"></script>
<script src="${www}/js/common.js"></script>
  <style>
    .red {
      border:1px solid red !important;
    }
  </style>
</head>
<body>
#parse("/layout/heard.vm")
#parse("/layout/navbar.vm")
$screen_content



<script type="text/javascript">
  var tTD; //用来存储当前更改宽度的Table Cell,避免快速移动鼠标的问题
  var table = document.getElementById("dataTableResizeCol");
  for (j = 0; j < table.rows[0].cells.length; j++) {
    table.rows[0].cells[j].onmousedown = function () {
      //记录单元格
      tTD = this;
      if (event.offsetX > tTD.offsetWidth - 10) {
        tTD.mouseDown = true;
        tTD.oldX = event.x;
        tTD.oldWidth = tTD.offsetWidth;
      }
      //记录Table宽度
      //table = tTD; while (table.tagName != ‘TABLE') table = table.parentElement;
      //tTD.tableWidth = table.offsetWidth;
    };
    table.rows[0].cells[j].onmouseup = function () {
      //结束宽度调整
      if (tTD == undefined) tTD = this;
      tTD.mouseDown = false;
      tTD.style.cursor = 'default';
    };
    table.rows[0].cells[j].onmousemove = function () {
      //更改鼠标样式
      if (event.offsetX > this.offsetWidth - 10)
        this.style.cursor = 'col-resize';
      else
        this.style.cursor = 'default';
      //取出暂存的Table Cell
      if (tTD == undefined) tTD = this;
      //调整宽度
      if (tTD.mouseDown != null && tTD.mouseDown == true) {
        tTD.style.cursor = 'default';
        if (tTD.oldWidth + (event.x - tTD.oldX)>0)
          tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
        //调整列宽
        tTD.style.width = tTD.width;
        tTD.style.cursor = 'col-resize';
        //调整该列中的每个Cell
        table = tTD; while (table.tagName != 'TABLE') table = table.parentElement;
        for (j = 0; j < table.rows.length; j++) {
          table.rows[j].cells[tTD.cellIndex].width = tTD.width;
        }
        //调整整个表
        //table.width = tTD.tableWidth + (tTD.offsetWidth – tTD.oldWidth);
        //table.style.width = table.width;
      }
    };
  }
</script>

</body>
</html>



