<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="icon-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="icon-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="icon-group"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="icon-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- #sidebar-shortcuts -->



          #if("$!nav_set" == "")
          <ul class="nav nav-list" id="primary_nav">
##              #foreach($auth in ${authTree})
##                  #if($loginSessionInfo.authCodes.contains($auth.code) )
##                      #if(${auth.type}=='menu')
##                          #set($showMenu = $!{auth.code} == "$!openMenu" )
##                          <li #if($showMenu) class="open" #end>
##                              <a href="#" class="dropdown-toggle">
##                                  <i class="$!{auth.css}"></i>
##                                  <span class="menu-text">$!{auth.name}</span>
##                                  <b class="arrow icon-angle-down"></b>
##                              </a>
##                              <ul class="submenu" #if($showMenu) style="display: block;" #end >
##                                  #foreach($auth2 in ${auth.children})
##                                      #if($loginSessionInfo.authCodes.contains($auth2.code) )
##                                      <li><a href="${www}${auth2.url}">$!{auth2.name}</a></li>
##                                      #end
##                                  #end
##                              </ul>
##                          </li>
##                      #end
##                #end
##              #end

                  #set($showMenu = "$!openMenu" == "intime")
                  <li #if($showMenu) class="open" #end>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-tasks"></i>
                      <span class="menu-text">实时管理</span>
                      <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" #if($showMenu) style="display: block;" #end >
                      <li><a href="${www}/intime/dataList">实时数据</a></li>
                      <li><a href="${www}/intime/intimeCurveList">实时曲线</a></li>
                    </ul>
                  </li>

                  #set($showMenu = "$!openMenu" == "alarm")
                  <li #if($showMenu) class="open" #end>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-tasks"></i>
                      <span class="menu-text">报警记录</span>
                      <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" #if($showMenu) style="display: block;" #end >
                      <li><a href="${www}/alarm/alarmList">报警数据</a></li>
                    </ul>
                  </li>


                  #set($showMenu = "$!openMenu" == "history")
                  <li #if($showMenu) class="open" #end>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-signal"></i>
                      <span class="menu-text">历史管理</span>
                      <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" #if($showMenu) style="display: block;" #end >
                      <li><a href="${www}/history/historyList">历史数据</a></li>
                      <li><a href="${www}/history/historyCurveList">历史曲线</a></li>
                    </ul>
                  </li>


                  #set($showMenu = "$!openMenu" == "device")
                  <li #if($showMenu) class="open" #end>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-tasks"></i>
                      <span class="menu-text">设备管理</span>
                      <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" #if($showMenu) style="display: block;" #end >
                      <li><a href="${www}/device/areaList">区域管理</a></li>
                      <li><a href="${www}/device/deviceList">设备管理</a></li>
                    </ul>
                  </li>


                  #set($showMenu = "$!openMenu" == "wirelessSetting")
                  <li #if($showMenu) class="open" #end>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-tasks"></i>
                      <span class="menu-text">无线设置</span>
                      <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" #if($showMenu) style="display: block;" #end >
                      <li><a href="${www}/wirelessSetting/normal">通讯测试</a></li>
                      <li><a href="${www}/wirelessSetting/list">通讯列表</a></li>
                      <li><a href="${www}/wirelessSetting/history">通讯历史</a></li>
                    </ul>
                  </li>


                  #set($showMenu = "$!openMenu" == "setting")
                  <li #if($showMenu) class="open" #end>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-cog"></i>
                      <span class="menu-text">系统设置</span>
                      <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" #if($showMenu) style="display: block;" #end >
                      <li><a href="${www}/setting/normal">基本设置</a></li>
                      <li><a href="${www}/setting/alarm">报警设置</a></li>
                    </ul>
                  </li>

          </ul>
          #end

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div><!-- /.sidebar -->


</div>
  </div>

