<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccountMapper">
    <resultMap id="ConsoleAccount" type="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccount">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="vcLoginName" jdbcType="VARCHAR" property="vcLoginName" />
        <result column="vcLoginPassword" jdbcType="VARCHAR" property="vcLoginPassword" />
        <result column="vcRealName" jdbcType="VARCHAR" property="vcRealName" />
        <result property="vcPhone" jdbcType="CHAR" column="vcPhone"/>
        <result column="iValid" jdbcType="INTEGER" property="iValid" />
        <result column="lockTime" jdbcType="TIMESTAMP" property="lockTime" />
        <result column="dtCreate" jdbcType="TIMESTAMP" property="dtCreate" />
        <result column="dtModify" jdbcType="TIMESTAMP" property="dtModify" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
    </resultMap>

    <insert id="save" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccount"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into 
        t_admin_loginaccount(
        	vcLoginName,vcLoginPassword,vcRealName ,vcPhone,iValid,dtCreate,role_id
        )
        values (
	        #{vcLoginName,jdbcType=VARCHAR},
	        #{vcLoginPassword,jdbcType=VARCHAR},
	        #{vcRealName,jdbcType=VARCHAR},
	        #{vcPhone,jdbcType=CHAR} ,
	        #{iValid,jdbcType=INTEGER},
	       now(),
            #{roleId,jdbcType=INTEGER}
        )
    </insert>

  <insert id="insertByImport" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccount">
    insert into t_admin_loginaccount(id,vcLoginName,vcLoginPassword,vcRealName ,vcPhone,iValid,dtCreate,role_id)
    values (
    #{id},
    #{vcLoginName,jdbcType=VARCHAR},
    #{vcLoginPassword,jdbcType=VARCHAR},
    #{vcRealName,jdbcType=VARCHAR},
    #{vcPhone,jdbcType=CHAR} ,
    #{iValid,jdbcType=INTEGER},
    now(),
    #{roleId,jdbcType=INTEGER}
    )
  </insert>



  <select id="findAll" parameterType="java.util.Map" resultMap="ConsoleAccount">
    SELECT * from t_admin_loginaccount where role_id != 8
    ORDER BY id DESC
  </select>

  <select id="selectAll" resultMap="ConsoleAccount">
    SELECT * from t_admin_loginaccount
    ORDER BY id DESC
  </select>


    <select id="queryAccountsCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) from  t_admin_loginaccount where 1=1
        <if test="vcLoginName != null and vcLoginName !=''">
           and  vcLoginName like "%"#{vcLoginName}"%"
        </if>
        <if test="iValid != null">
           and  iValid  = #{iValid,jdbcType=INTEGER}
        </if>        
    </select>

    <select id="queryAccounts" parameterType="java.util.Map" resultMap="ConsoleAccount">
        SELECT * from  t_admin_loginaccount where 1=1
        <if test="vcLoginName != null and vcLoginName !=''">
            and  vcLoginName like "%"#{vcLoginName}"%"
        </if>
        <if test="iValid != null">
           and  iValid  = #{iValid,jdbcType=INTEGER}
        </if>           
        ORDER BY id DESC
        <![CDATA[ limit ${startRecord},${endRecord} ]]>
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="ConsoleAccount">
        SELECT * from  t_admin_loginaccount a where vcLoginName = #{loginName,jdbcType=VARCHAR}
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ConsoleAccount">
        SELECT * from  t_admin_loginaccount a where id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccount">
          update  t_admin_loginaccount set 
		          vcLoginName = #{vcLoginName,jdbcType=VARCHAR},
		          vcRealName = #{vcRealName,jdbcType=VARCHAR},
		          vcPhone = #{vcPhone,jdbcType=CHAR} ,
		          iValid = #{iValid,jdbcType=INTEGER},
		          dtModify = #{dtModify,jdbcType=TIMESTAMP} ,
		          vcLoginPassword = #{vcLoginPassword,jdbcType=VARCHAR},
		          role_id = #{roleId,jdbcType=INTEGER}
          where id = #{id,jdbcType=INTEGER};
    </update>

    <update id="updatePassword" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccount">
        update t_admin_loginaccount set 
        	vcLoginPassword = #{vcLoginPassword,jdbcType=VARCHAR},
        	dtModify = #{dtModify,jdbcType=TIMESTAMP} 
        where id = #{id,jdbcType=INTEGER}
    </update>


  <update id="updateLockTime" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.ConsoleLoginAccount">
    update t_admin_loginaccount set
    lockTime = #{lockTime,jdbcType=TIMESTAMP},
    dtModify = #{dtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER};
  </update>


    <delete id="delete" parameterType="java.lang.Integer">
           delete from t_admin_loginaccount where id = #{id,jdbcType=INTEGER}
    </delete>
    

  <select id="queryConsoleLoginAccountAll" resultMap="ConsoleAccount">
    select * from t_admin_loginaccount
    where iValid = 1
  </select>


  <delete id="deleteForExport">
    delete from t_admin_loginaccount
  </delete>


</mapper>