<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarmMapper">
  <resultMap id="BaseResultMap" type="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="device_one_type" jdbcType="INTEGER" property="deviceOneType" />
    <result column="alarm_type" jdbcType="INTEGER" property="alarmType" />
    <result column="confirm" jdbcType="SMALLINT" property="confirm" />
    <result column="up_down" jdbcType="SMALLINT" property="upDown" />
    <result column="data" jdbcType="INTEGER" property="data" />
    <result column="data_scope" jdbcType="VARCHAR" property="dataScope" />
    <result column="recently_alarm_time" jdbcType="TIMESTAMP" property="recentlyAlarmTime" />
    <result column="alarm_end_time" jdbcType="TIMESTAMP" property="alarmEndTime" />
    <result column="user_confirm_time" jdbcType="TIMESTAMP" property="userConfirmTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, area_id, device_one_type, alarm_type, confirm, up_down, data, data_scope, 
    recently_alarm_time, alarm_end_time, user_confirm_time, note, created_at, updated_at, 
    created_by, updated_by
  </sql>

  <sql id="pageSearch">
    <if test="deviceName != null and deviceName !=''" >
      , t_device_info  b
    </if>
    <where>
      <if test="deviceName != null and deviceName !=''" >
        a.device_id = b.id
        and
          b.name like "%"#{deviceName}"%"
      </if>
      <if test="alarmType != null and alarmType !=''" >
        AND a.alarm_type  = #{alarmType,jdbcType=INTEGER}
      </if>
      <if test="alarmConfirm != null and alarmConfirm !=''" >
        AND a.confirm  = #{alarmConfirm,jdbcType=SMALLINT}
      </if>
      <if test="startTime != null and startTime !=''" >
        AND ( a.created_at  <![CDATA[ >= ]]>  #{startTime,jdbcType=TIMESTAMP}
          OR
              a.recently_alarm_time <![CDATA[ >= ]]>  #{startTime,jdbcType=TIMESTAMP}
        )
      </if>
      <if test="endTime != null and endTime !=''" >
        AND ( a.created_at  <![CDATA[ < ]]>  #{endTime,jdbcType=TIMESTAMP}
        OR
            a.recently_alarm_time  <![CDATA[ < ]]>  #{endTime,jdbcType=TIMESTAMP}
        )
      </if>
    </where>
  </sql>

  <select id="findPageCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(*) from  t_device_alarm a
    <include refid="pageSearch"/>
  </select>

  <select id="hasAlarmData" resultType="java.lang.Long">
    SELECT id from  t_device_alarm
    WHERE
     confirm = 0
  AND
    alarm_end_time is null
    order by id desc
    limit 1
  </select>

  <select id="hasData" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm" resultType="java.lang.Long">
    SELECT id from  t_device_alarm
    WHERE
        device_id = #{deviceId,jdbcType=BIGINT}
    AND
        device_one_type = #{deviceOneType,jdbcType=INTEGER}
    AND
        alarm_type = #{alarmType,jdbcType=INTEGER}
    AND
        confirm = 0
    AND
        up_down = #{upDown,jdbcType=SMALLINT}
    order by id desc
    limit 1
  </select>


  <select id="findPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT a.* from t_device_alarm a
    <include refid="pageSearch"/>
    ORDER BY id desc
    <![CDATA[ limit ${startRecord},${endRecord} ]]>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_device_alarm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_device_alarm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    insert into t_device_alarm ( device_id, area_id,
      device_one_type, alarm_type, confirm, 
      up_down, data, data_scope, 
      recently_alarm_time, alarm_end_time, user_confirm_time, 
      note, created_at, updated_at, 
      created_by, updated_by)
    values ( #{deviceId,jdbcType=BIGINT}, #{areaId,jdbcType=BIGINT},
      #{deviceOneType,jdbcType=INTEGER}, #{alarmType,jdbcType=INTEGER}, #{confirm,jdbcType=SMALLINT}, 
      #{upDown,jdbcType=SMALLINT}, #{data,jdbcType=INTEGER}, #{dataScope,jdbcType=VARCHAR}, 
      #{recentlyAlarmTime,jdbcType=TIMESTAMP}, #{alarmEndTime,jdbcType=TIMESTAMP}, #{userConfirmTime,jdbcType=TIMESTAMP}, 
      #{note,jdbcType=VARCHAR}, now(), now(),
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    insert into t_device_alarm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="deviceOneType != null">
        device_one_type,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
      <if test="confirm != null">
        confirm,
      </if>
      <if test="upDown != null">
        up_down,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="dataScope != null">
        data_scope,
      </if>
      <if test="recentlyAlarmTime != null">
        recently_alarm_time,
      </if>
      <if test="alarmEndTime != null">
        alarm_end_time,
      </if>
      <if test="userConfirmTime != null">
        user_confirm_time,
      </if>
      <if test="note != null">
        note,
      </if>
        created_at,
        updated_at,
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="deviceOneType != null">
        #{deviceOneType,jdbcType=INTEGER},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="confirm != null">
        #{confirm,jdbcType=SMALLINT},
      </if>
      <if test="upDown != null">
        #{upDown,jdbcType=SMALLINT},
      </if>
      <if test="data != null">
        #{data,jdbcType=INTEGER},
      </if>
      <if test="dataScope != null">
        #{dataScope,jdbcType=VARCHAR},
      </if>
      <if test="recentlyAlarmTime != null">
        #{recentlyAlarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmEndTime != null">
        #{alarmEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userConfirmTime != null">
        #{userConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    update t_device_alarm
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="deviceOneType != null">
        device_one_type = #{deviceOneType,jdbcType=INTEGER},
      </if>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="confirm != null">
        confirm = #{confirm,jdbcType=SMALLINT},
      </if>
      <if test="upDown != null">
        up_down = #{upDown,jdbcType=SMALLINT},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=INTEGER},
      </if>
      <if test="dataScope != null">
        data_scope = #{dataScope,jdbcType=VARCHAR},
      </if>
      <if test="recentlyAlarmTime != null">
        recently_alarm_time = #{recentlyAlarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmEndTime != null">
        alarm_end_time = #{alarmEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userConfirmTime != null">
        user_confirm_time = #{userConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
        updated_at = now(),
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    update t_device_alarm
    set device_id = #{deviceId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=BIGINT},
      device_one_type = #{deviceOneType,jdbcType=INTEGER},
      alarm_type = #{alarmType,jdbcType=INTEGER},
      confirm = #{confirm,jdbcType=SMALLINT},
      up_down = #{upDown,jdbcType=SMALLINT},
      data = #{data,jdbcType=INTEGER},
      data_scope = #{dataScope,jdbcType=VARCHAR},
      recently_alarm_time = #{recentlyAlarmTime,jdbcType=TIMESTAMP},
      alarm_end_time = #{alarmEndTime,jdbcType=TIMESTAMP},
      user_confirm_time = #{userConfirmTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      updated_at = now(),
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="resetDeviceAlarm" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    update t_device_alarm
    set
        alarm_end_time = now(),
        updated_at = now()
    where
        device_id = #{deviceId,jdbcType=BIGINT}
    AND
        device_one_type = #{deviceOneType,jdbcType=INTEGER}
    AND
        confirm = 0
    AND
        alarm_end_time is null
  </update>


  <update id="resetDeviceAlarmAll" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm">
    update t_device_alarm
    set
        alarm_end_time = now(),
        updated_at = now()
    where
        device_id = #{deviceId,jdbcType=BIGINT}
    AND
        confirm = 0
    AND
        alarm_end_time is null
  </update>


</mapper>