<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarmMapper" >
  <resultMap id="BaseResultMap" type="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="alarm_type" property="alarmType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="temp" property="temp" jdbcType="INTEGER" />
    <result column="humi" property="humi" jdbcType="INTEGER" />
    <result column="power" property="power" jdbcType="INTEGER" />
    <result column="shine" property="shine" jdbcType="INTEGER" />
    <result column="pressure" property="pressure" jdbcType="INTEGER" />
    <result column="smoke" property="smoke" jdbcType="SMALLINT" />
    <result column="water" property="water" jdbcType="SMALLINT" />
    <result column="electric" property="electric" jdbcType="SMALLINT" />
    <result column="out" property="out" jdbcType="SMALLINT" />
    <result column="recently_alarm_time" property="recentlyAlarmTime" jdbcType="TIMESTAMP" />
    <result column="system_confirm_time" property="systemConfirmTime" jdbcType="TIMESTAMP" />
    <result column="user_confirm_time" property="userConfirmTime" jdbcType="TIMESTAMP" />
    <result column="temp_normal" property="tempNormal" jdbcType="VARCHAR" />
    <result column="humi_normal" property="humiNormal" jdbcType="VARCHAR" />
    <result column="power_normal" property="powerNormal" jdbcType="VARCHAR" />
    <result column="shine_normal" property="shineNormal" jdbcType="VARCHAR" />
    <result column="pressure_normal" property="pressureNormal" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, alarm_type, status, temp, humi, power, shine, pressure, smoke, water, 
    electric, out, recently_alarm_time, system_confirm_time, user_confirm_time, temp_normal, 
    humi_normal, power_normal, shine_normal, pressure_normal, note, created_at, updated_at, 
    created_by, updated_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_device_alarm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_device_alarm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm" >
    insert into t_device_alarm ( device_id, alarm_type,
      status, temp, humi, 
      power, shine, pressure, 
      smoke, water, electric, 
      out, recently_alarm_time, system_confirm_time, 
      user_confirm_time, temp_normal, humi_normal, 
      power_normal, shine_normal, pressure_normal, 
      note, created_at, updated_at, 
      created_by, updated_by)
    values ( #{deviceId,jdbcType=BIGINT}, #{alarmType,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{temp,jdbcType=INTEGER}, #{humi,jdbcType=INTEGER}, 
      #{power,jdbcType=INTEGER}, #{shine,jdbcType=INTEGER}, #{pressure,jdbcType=INTEGER}, 
      #{smoke,jdbcType=SMALLINT}, #{water,jdbcType=SMALLINT}, #{electric,jdbcType=SMALLINT}, 
      #{out,jdbcType=SMALLINT}, #{recentlyAlarmTime,jdbcType=TIMESTAMP}, #{systemConfirmTime,jdbcType=TIMESTAMP}, 
      #{userConfirmTime,jdbcType=TIMESTAMP}, #{tempNormal,jdbcType=VARCHAR}, #{humiNormal,jdbcType=VARCHAR}, 
      #{powerNormal,jdbcType=VARCHAR}, #{shineNormal,jdbcType=VARCHAR}, #{pressureNormal,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, now(), now(),
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm" >
    insert into t_device_alarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="alarmType != null" >
        alarm_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="temp != null" >
        temp,
      </if>
      <if test="humi != null" >
        humi,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="shine != null" >
        shine,
      </if>
      <if test="pressure != null" >
        pressure,
      </if>
      <if test="smoke != null" >
        smoke,
      </if>
      <if test="water != null" >
        water,
      </if>
      <if test="electric != null" >
        electric,
      </if>
      <if test="out != null" >
        out,
      </if>
      <if test="recentlyAlarmTime != null" >
        recently_alarm_time,
      </if>
      <if test="systemConfirmTime != null" >
        system_confirm_time,
      </if>
      <if test="userConfirmTime != null" >
        user_confirm_time,
      </if>
      <if test="tempNormal != null" >
        temp_normal,
      </if>
      <if test="humiNormal != null" >
        humi_normal,
      </if>
      <if test="powerNormal != null" >
        power_normal,
      </if>
      <if test="shineNormal != null" >
        shine_normal,
      </if>
      <if test="pressureNormal != null" >
        pressure_normal,
      </if>
      <if test="note != null" >
        note,
      </if>
        created_at,
        updated_at,
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="alarmType != null" >
        #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=INTEGER},
      </if>
      <if test="humi != null" >
        #{humi,jdbcType=INTEGER},
      </if>
      <if test="power != null" >
        #{power,jdbcType=INTEGER},
      </if>
      <if test="shine != null" >
        #{shine,jdbcType=INTEGER},
      </if>
      <if test="pressure != null" >
        #{pressure,jdbcType=INTEGER},
      </if>
      <if test="smoke != null" >
        #{smoke,jdbcType=SMALLINT},
      </if>
      <if test="water != null" >
        #{water,jdbcType=SMALLINT},
      </if>
      <if test="electric != null" >
        #{electric,jdbcType=SMALLINT},
      </if>
      <if test="out != null" >
        #{out,jdbcType=SMALLINT},
      </if>
      <if test="recentlyAlarmTime != null" >
        #{recentlyAlarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemConfirmTime != null" >
        #{systemConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userConfirmTime != null" >
        #{userConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tempNormal != null" >
        #{tempNormal,jdbcType=VARCHAR},
      </if>
      <if test="humiNormal != null" >
        #{humiNormal,jdbcType=VARCHAR},
      </if>
      <if test="powerNormal != null" >
        #{powerNormal,jdbcType=VARCHAR},
      </if>
      <if test="shineNormal != null" >
        #{shineNormal,jdbcType=VARCHAR},
      </if>
      <if test="pressureNormal != null" >
        #{pressureNormal,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm" >
    update t_device_alarm
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="alarmType != null" >
        alarm_type = #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="temp != null" >
        temp = #{temp,jdbcType=INTEGER},
      </if>
      <if test="humi != null" >
        humi = #{humi,jdbcType=INTEGER},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=INTEGER},
      </if>
      <if test="shine != null" >
        shine = #{shine,jdbcType=INTEGER},
      </if>
      <if test="pressure != null" >
        pressure = #{pressure,jdbcType=INTEGER},
      </if>
      <if test="smoke != null" >
        smoke = #{smoke,jdbcType=SMALLINT},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=SMALLINT},
      </if>
      <if test="electric != null" >
        electric = #{electric,jdbcType=SMALLINT},
      </if>
      <if test="out != null" >
        out = #{out,jdbcType=SMALLINT},
      </if>
      <if test="recentlyAlarmTime != null" >
        recently_alarm_time = #{recentlyAlarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemConfirmTime != null" >
        system_confirm_time = #{systemConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userConfirmTime != null" >
        user_confirm_time = #{userConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tempNormal != null" >
        temp_normal = #{tempNormal,jdbcType=VARCHAR},
      </if>
      <if test="humiNormal != null" >
        humi_normal = #{humiNormal,jdbcType=VARCHAR},
      </if>
      <if test="powerNormal != null" >
        power_normal = #{powerNormal,jdbcType=VARCHAR},
      </if>
      <if test="shineNormal != null" >
        shine_normal = #{shineNormal,jdbcType=VARCHAR},
      </if>
      <if test="pressureNormal != null" >
        pressure_normal = #{pressureNormal,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
        updated_at = now(),
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.DeviceAlarm" >
    update t_device_alarm
    set device_id = #{deviceId,jdbcType=BIGINT},
      alarm_type = #{alarmType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      temp = #{temp,jdbcType=INTEGER},
      humi = #{humi,jdbcType=INTEGER},
      power = #{power,jdbcType=INTEGER},
      shine = #{shine,jdbcType=INTEGER},
      pressure = #{pressure,jdbcType=INTEGER},
      smoke = #{smoke,jdbcType=SMALLINT},
      water = #{water,jdbcType=SMALLINT},
      electric = #{electric,jdbcType=SMALLINT},
      out = #{out,jdbcType=SMALLINT},
      recently_alarm_time = #{recentlyAlarmTime,jdbcType=TIMESTAMP},
      system_confirm_time = #{systemConfirmTime,jdbcType=TIMESTAMP},
      user_confirm_time = #{userConfirmTime,jdbcType=TIMESTAMP},
      temp_normal = #{tempNormal,jdbcType=VARCHAR},
      humi_normal = #{humiNormal,jdbcType=VARCHAR},
      power_normal = #{powerNormal,jdbcType=VARCHAR},
      shine_normal = #{shineNormal,jdbcType=VARCHAR},
      pressure_normal = #{pressureNormal,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      updated_at = now(),
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>