<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengqianyun.eeweb2networkadmin.biz.entitys.OutConditionMapper" >
  <resultMap id="BaseResultMap" type="com.chengqianyun.eeweb2networkadmin.biz.entitys.OutCondition" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_info_id" property="deviceInfoId" jdbcType="BIGINT" />
    <result column="open_closed" property="openClosed" jdbcType="SMALLINT" />
    <result column="device_type" property="deviceType" jdbcType="INTEGER" />
    <result column="device_sn" property="deviceSn" jdbcType="VARCHAR" />
    <result column="min_max" property="minMax" jdbcType="SMALLINT" />
    <result column="data_value" property="dataValue" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_info_id, open_closed, device_type, device_sn, min_max, data_value,
    created_at, updated_at, created_by, updated_by
  </sql>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_out_condition
    where id = #{id,jdbcType=BIGINT}
  </select>



  <select id="listByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_out_condition
    where device_info_id = #{deviceId,jdbcType=BIGINT}
    order by id desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_out_condition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.OutCondition" >
    insert into t_out_condition ( device_info_id, open_closed,
      device_type, device_sn, min_max,
      data_value, created_at, updated_at, 
      created_by, updated_by)
    values ( #{deviceInfoId,jdbcType=BIGINT}, #{openClosed,jdbcType=SMALLINT},
      #{deviceType,jdbcType=INTEGER}, #{deviceSn,jdbcType=VARCHAR}, #{minMax,jdbcType=SMALLINT},
      #{dataValue,jdbcType=INTEGER}, now(), now(),
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.OutCondition" >
    insert into t_out_condition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceInfoId != null" >
        device_info_id,
      </if>
      <if test="openClosed != null" >
        open_closed,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="deviceSn != null" >
        device_sn,
      </if>
      <if test="minMax != null" >
        min_max,
      </if>
      <if test="dataValue != null" >
        data_value,
      </if>
        created_at,
        updated_at,
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceInfoId != null" >
        #{deviceInfoId,jdbcType=BIGINT},
      </if>
      <if test="openClosed != null" >
        #{openClosed,jdbcType=SMALLINT},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceSn != null" >
        #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="minMax != null" >
        #{minMax,jdbcType=SMALLINT},
      </if>
      <if test="dataValue != null" >
        #{dataValue,jdbcType=INTEGER},
      </if>
      now(),
      now(),
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.OutCondition" >
    update t_out_condition
    <set >
      <if test="deviceInfoId != null" >
        device_info_id = #{deviceInfoId,jdbcType=BIGINT},
      </if>
      <if test="openClosed != null" >
        open_closed = #{openClosed,jdbcType=SMALLINT},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceSn != null" >
        device_sn = #{deviceSn,jdbcType=VARCHAR},
      </if>
      <if test="minMax != null" >
        min_max = #{minMax,jdbcType=SMALLINT},
      </if>
      <if test="dataValue != null" >
        data_value = #{dataValue,jdbcType=INTEGER},
      </if>
        updated_at = now(),
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengqianyun.eeweb2networkadmin.biz.entitys.OutCondition" >
    update t_out_condition
    set device_info_id = #{deviceInfoId,jdbcType=BIGINT},
      open_closed = #{openClosed,jdbcType=SMALLINT},
      device_type = #{deviceType,jdbcType=INTEGER},
      device_sn = #{deviceAddress,jdbcType=VARCHAR},
      min_max = #{minMax,jdbcType=SMALLINT},
      data_value = #{dataValue,jdbcType=INTEGER},
      updated_at = now(),
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>