<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/main">主页</a>
      </li>

      <li class="active">实时数据</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
      ##         <span class="input-icon">
##							<input type="text" placeholder="Search ..." class="nav-search-input"  id="nav-search-input" autocomplete="off"/>
##							<i class="icon-search nav-search-icon"></i>
##						</span>
      </form>
    </div><!-- #nav-search -->
  </div>
  <div class="page-content">
##    <div class="page-header">
##      <h1>实时数据</h1>
##    </div>
    <div class="container-fluid">

      #if(${msg})
        <div>
          #if(${success})
            <li class="text-success">$!{msg}</li>
          #else
            <li class="text-danger">$!{msg}</li>
          #end
        </div>
      #end

      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-11">
            <form class="form-inline" role="form">

              #if($!alarmSong)
                <div class="form-group">
                  <audio controls="controls" autoplay="autoplay" style="height: 50px;">
                    <source src="${www}/music/cqAlarm1.mp3" type="audio/mpeg" />
                    当前浏览器不支持播放报警声音
                  </audio>
                </div>

                <div style="clear: both; "></div>
              #end

              <div class="form-group">
                <label>区域：</label>
                <select name="areaId" id="areaId">
                  <option value="">全部</option>
                  #foreach($tmpArea in $areaList)
                    <option #if("$tmpArea.id" == "$!areaId") selected #end value="$tmpArea.id">$!tmpArea.name</option>
                  #end
                </select>
                <label>名称：</label>
                <input type="text" name="name" value="$!{name}">
                <label>报警类型：</label>
                <select name="status" id="status">
                  <option value="">全部</option>
                  #foreach($tmpStatus in $applicationUtil.getStatus())
                    <option #if("$tmpStatus.id" == "$!status") selected #end value="$tmpStatus.id">$!tmpStatus.meaning</option>
                  #end
                </select>
              </div>


              <div class="form-group">
                <button class="btn btn-xs btn-primary" type="submit">查询</button>
              </div>
            </form>
          </div>
          <div class="col-sm-1 text-right">
            <a href="${www}/intime/dataList" class="btn btn-success btn-xs">切换列表</a>
          </div>
        </div>
        <table id="dataTableResizeCol" class="table table-striped table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th>sn号</th>
            <th>名称(区域)-标签</th>
            <th>设备状态</th>
            <th>类型值(校正值)</th>
            <th>创建时间</th>
          </tr>
          </thead>
          <tbody>
            #foreach($dataIntime in $dataIntimeList)
            #set($deviceInfo =  $!dataIntime.deviceInfo)
            <tr>
              <td>$!{deviceInfo.sn}</td>
              <td> $!{deviceInfo.name}($!{deviceInfo.area.name})-$!{deviceInfo.tag}</td>
              <td>$!applicationUtil.getStatus($!{dataIntime.status}).meaning</td>
              <td>
                  #if($!{deviceInfo.hasTemp()}) <div1 #if($dataIntime.isTempUp() || $dataIntime.isTempDown())  style="color:red;" #end>温度: $!unitUtil.changeTemp($!{dataIntime.temp})℃ </div1> 范围: $!unitUtil.changeTemp($!{deviceInfo.tempDown})℃ ~ $!unitUtil.changeTemp($!{deviceInfo.tempUp}) ℃ ($!unitUtil.changeTemp($!{deviceInfo.tempDev})℃)<br/> #end
                  #if($!{deviceInfo.hasHumi()}) <div1 #if($dataIntime.isHumiUp() || $dataIntime.isHumiDown())  style="color:red;" #end>湿度: $!unitUtil.changeHumi($!{dataIntime.humi})%RH</div1>范围: $!unitUtil.changeHumi($!{deviceInfo.humiDown})%RH ~ $!unitUtil.changeHumi($!{deviceInfo.humiUp})%RH ($!unitUtil.changeHumi($!{deviceInfo.humiDev})%RH)<br/> #end
                  #if($!{deviceInfo.hasPower()}) <div1 #if($dataIntime.isPowerUp() || $dataIntime.isPowerDown())  style="color:red;" #end>电量:$!unitUtil.changePower($!{dataIntime.power})V </div1> 范围: 3.1V ~ 3.7V<br/> #end
                  #if($!{deviceInfo.hasShine()}) <div1 #if($dataIntime.isShineUp() || $dataIntime.isShineDown())  style="color:red;" #end>光照: $!{dataIntime.shine} Lx</div1> 范围: $!{deviceInfo.shineDown} Lx ~ $!{deviceInfo.shineUp}Lx ($!{deviceInfo.shineDev}Lx)<br/> #end
                  #if($!{deviceInfo.hasPressure()}) <div1 #if($dataIntime.isPressureUp() || $dataIntime.isPressureDown())  style="color:red;" #end>压力: $!unitUtil.changePressure($!{dataIntime.pressure}) kPa</div1> 范围: $!unitUtil.changePressure($!{deviceInfo.pressureDown})kPa ~ $!unitUtil.changePressure($!{deviceInfo.pressureUp})kPa ($!unitUtil.changePressure($!{deviceInfo.pressureDev})kPa)<br/> #end
                  #if($!{deviceInfo.hasSmoke()}) <div1 #if($dataIntime.isSmokeAlarm())  style="color:red;" #end>烟感: </div1><br/>输入通道: $!{deviceInfo.inWay}<br/>联动输出通道和地址: $!{deviceInfo.opencloseWay} ,  $!{deviceInfo.relationOutId}<br/> #end
                  #if($!{deviceInfo.hasWater()}) <div1 #if($dataIntime.isWaterAlarm())  style="color:red;" #end>跑冒滴漏:</div1> <br/>输入通道: $!{deviceInfo.inWay}<br/>联动输出通道和地址: $!{deviceInfo.opencloseWay} ,  $!{deviceInfo.relationOutId}<br/> #end
                  #if($!{deviceInfo.hasElectric()}) <div1 #if($dataIntime.isElectricAlarm())  style="color:red;" #end>断电来电:</div1> <br/>输入通道: $!{deviceInfo.inWay}<br/>联动输出通道和地址: $!{deviceInfo.opencloseWay} ,  $!{deviceInfo.relationOutId}<br/> #end
                  #if($!{deviceInfo.hasBody()}) <div1 #if($dataIntime.isBodyAlarm())  style="color:red;" #end>人体感应: </div1> <br/>输入通道: $!{deviceInfo.inWay}<br/>联动输出通道和地址: $!{deviceInfo.opencloseWay} ,  $!{deviceInfo.relationOutId}<br/> #end
                  #if($!{deviceInfo.hasOut()}) <div1 #if($dataIntime.isOutAlarm())  style="color:red;" #end>控制通道:  </div1>$!{row.controlWay}<br/>#end
              </td>
              <td>
                $dateUtil.getDate($!{dataIntime.createdAt}, 'yyyy-MM-dd HH:mm:ss')
##                #if($!{row.hasOut()})
##                  <a href="${www}/device/outConditionList?id=${row.id}">配置开关条件</a><br/>
##                #end
##                <a href="${www}/device/deviceUpdate?id=${row.id}">修改</a> ｜
##                <a href="${www}/device/deleteDevice?id=${row.id}" onclick="javascript:return confirm('确认要删除 $!{row.name}?');">删除</a>
              </td>
            </tr>
            #end
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <div class="dataTables_paginate paging_bootstrap">
              <ul class="pagination">
                #set($pageRequestURL="${www}/device/deviceList?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                #paginationHelper($result $pageRequestURL)
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->