
<style>
  .blockcell {
    height: 30px;line-height: 80x;margin-top:20px;
  }

  .blockcell_one {
    color: #fff;
    float: left;width: 180px;
    margin-left: 20px;
    font-size:13px; text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top:20px;
  }

  .blockcell_one_normal {
    background-color: #aed232;
  }

  .blockcell_one_alarm {
    background-color: #ddbd5f;
  }

  .blockcell_one_offline {
    background-color: #bfbfbf;
  }


</style>

<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>


<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="${www}/sp/main">主页</a>
      </li>
      <li class="active">实时数据</li>
    </ul><!-- .breadcrumb -->
    <div class="nav-search" id="nav-search">
    </div><!-- #nav-search -->
  </div>
  <div class="page-content">
    <div class="container-fluid">
      #if(${msg})
        <div>
          #if(${success})
            <li class="text-success">$!{msg}</li>
          #else
            <li class="text-danger">$!{msg}</li>
          #end
        </div>
      #end
      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-11">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label>设备区域：</label>
                #foreach($tmpArea in $areaList)
                  <input type="checkbox" name="areaIds" value="$tmpArea.id"
                  #foreach($tmpSelectArea in $dataIntimeBean.areaList)
                    #if("$tmpSelectArea.id" == "$tmpArea.id")
                      checked
                    #end
                  #end
                  /> $tmpArea.name &nbsp;&nbsp;
                #end
              </div>
              <br/><br/>
              <div class="form-group">
                <label>传感器类型：</label>
                #foreach($tmpDeviceType in $applicationUtil.getAllDeviceTypes())
                  <input type="checkbox" name="deviceTypes" value="$tmpDeviceType.id"
                    #foreach($tmpType in $dataIntimeBean.deviceTypeList)
                      #if("$tmpType.id" == "$tmpDeviceType.id")
                         checked
                      #end
                    #end
                  /> $tmpDeviceType.name &nbsp;&nbsp;
                #end
              </div>
              <br/><br/>
              <div class="form-group">
                <label>设备状态：</label>
                #foreach($tmpStatus in $applicationUtil.getStatus())
                  <input type="checkbox" name="statuses" value="$tmpStatus.id"
                    #foreach($tmpSelectStatus in $dataIntimeBean.statusList)
                      #if("$tmpSelectStatus.id" == "$tmpStatus.id")
                         checked
                      #end
                    #end
                  /> $tmpStatus.meaning &nbsp;&nbsp;
                #end
              </div>
              <br/><br/>
              <div class="form-group">
                <button class="btn btn-xs btn-primary" type="submit">查询</button>
              </div>
            </form>
          </div>

          <div class="col-sm-1 text-right">
            <a href="${www}/device/xxxx" class="btn btn-success btn-xs">收齐条件?不处理?</a>
          </div>
        </div>


      ## -------------------------- 框列表数据 -----------------------------------

        <div class="blockcell">
##          #foreach($i in [1..20])
##          <div class="blockcell_one blockcell_one_normal">
##            $!{i}今日应收金额}(万元)  <br/>
##             <br/>
##            $showTime <br/>
##          </div>
##          #end

          #foreach($tmpElementDataBean in $dataIntimeBean.elementDataBeanList)
            <div
            #if("$!{tmpElementDataBean.status}" == "1")
                class="blockcell_one blockcell_one_normal"
            #elseif("$!{tmpElementDataBean.status}" == "3")
                class="blockcell_one blockcell_one_offline"
            #else
                class="blockcell_one blockcell_one_alarm"
            #end
            >
              $!{tmpElementDataBean.deviceInfo.name}($!{tmpElementDataBean.area.name})-$!{tmpElementDataBean.deviceInfo.tag} <br/>
              $!{tmpElementDataBean.data} $!{tmpElementDataBean.unit} &nbsp;

              #set($showStatus = "")
              #if($tmpElementDataBean.isUp())
                #set($showStatus = "偏高")
              #elseif($tmpElementDataBean.isDown())
                #set($showStatus = "偏低")
              #end
              #set($showStatus = $showStatus + $!applicationUtil.getStatus($!{tmpElementDataBean.status}).meaning)
              $showStatus
               <br/>
              $dateUtil.getDate($!{tmpElementDataBean.time}, 'yyyy-MM-dd HH:mm:ss')
            </div>
          #end


        </div>


      </div>
    </div>
  </div><!-- /.page-content -->
</div><!-- /.main-content -->